/* .nav-tabs .nav-item .nav-link.active {
    border: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
  }*/

  /* NavBarDemo.css */
.custom-navbar .navbar-brand {
    font-size: 24px;
}
 .nav-link {
    margin-bottom: 26px;
    background-color: #2d70d6;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    
}
.content {
    padding: 100px;
    background-color: rgb(
        255,
        255,
        255
    );
 
    border-top: none;
}
.nav-tabs .nav-link.active {
   /* border-color: green !important;
    border-style: dotted !important;
    background-color: #8dd62d;
    border-radius: 15px;
    border-width: 3px;*/
    color:white;
    background-color: #8dd62d;
}