/*
============================
Name:  Consultia - Multipurpase Consulting Template
Version: 1.0.0
Description:
Author: Sujon mahamud
Author URI:
Location:
============================
*/
@import 'variables';
@import 'responsive';
@import 'typography';
@import 'common';
@import 'preloader';
@import 'components/header';
@import 'components/hero';
@import 'components/footer';
@import 'components/logo';
@import 'components/blog';
@import 'components/buttons';
@import 'components/service';
@import 'components/about';
@import 'components/team';
@import 'components/pricing';
@import 'components/counter';
@import 'components/testimonial';
@import 'components/contact';
@import 'components/faq';
@import 'components/tax-business';
@import 'components/case-study';
@import 'components/subscribe';
@import 'components/work';
@import 'components/office';
@import 'components/jobs';
@import 'components/menu';
@import 'components/shop';
@import 'components/demo';
@import 'components/others';
@import 'rtl';
